@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: black
}

body {
    user-select: none;
}

.container {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    margin: 2rem 0 3rem 0;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;
}

.metronome {
    height: 34rem;
    width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bpm-display-tempo {
    font-size: 6rem;
    font-weight: bold;
}

.bpm-display-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.tempo-text {
    font-size: 1.25rem;
    text-align: center;
}

.tempo-adjust {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: grey;
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;
}

.tempo-adjust:hover {
    background-color: #f0f0f0;
    color: #2190F7;
}

.tempo-decrease {
    line-height: 3.5rem;
}

.tempo-increase {
    line-height: 3.75rem;
}

.tempo-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: blue;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: blue;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background-color: grey;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background-color: grey;
}

.metronome-button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
    color: black;
    cursor: pointer;
    line-height: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.metronome-button:hover {
    background-color: #f0f0f0;
    color: #2190F7;
}

.bpm-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.bpm-control-buttons {
    display: flex;
    gap: 1rem;
}

.bpm-control {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: grey;
}

.bpm-control:hover {
    background-color: #f0f0f0;
    color: #2190F7;
}

.bpm-value {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.bpm-decrease {
    line-height: 2.5rem;
    cursor: pointer;
}

.bpm-increase {
    line-height: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }

    .header {
        font-size: 2rem;
    }

    .bpm-display-tempo {
        font-size: 4rem;
    }

    .metronome {
        width: 100%;
    }
}