@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #2190F7;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.metronome {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bpm-display-tempo {
    font-size: 6rem;
    font-weight: bold;
}

.bpm-display-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.tempo-text {
    font-size: 1.25rem;
    text-align: center;
}

.tempo-adjust {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: grey;
    font-size: 3.5rem;
    text-align: center;
}

.tempo-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bpm-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.bpm-control-buttons {
    display: flex;
    gap: 1rem;
}

.bpm-control {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: grey;
}